* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans Display", sans-serif;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: #f56f6f;
    border-radius: 10px;
}

.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: #6ff5b8;
    border-radius: 10px;
}